.main{
width:100%;
   
}
.one{
    width:70%;
    height:200px;
    background-color: red;
    
}
.two{
    width:31%;
    height:200px;
    background-color: green;
    position: absolute;
    left: 69%;
    top: 8px;

    
}
